
@media (min-width: 768px) {
    #menu-button {
        display: none;
    }

    #nav-menu {
        display: flex;
        position: static;
        width: auto;
    }

    #nav-menu li {
        margin-left: 1rem;
    }

    main {
        max-width: 1200px;
        margin: 0 auto;
    }

    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}
